body{ background: orange;
font-family: inherit}

.container{ position: relative;
margin: 100 auto;
width: 315px;
height: auto;
padding: 10px;
background: white;
border 3px solid darkblue;
box-shadow: 4px 4px 4px navy;}

.top{
    
    position: relative;
    width: 97%;
    height: 48px;
    padding: 6px;
    background: aliceblue;
}

.body {
    margin-top: 10px;
    width: 95%;
    height: auto;
    padding: 9px;
    background: lightsteelblue;
}

.campo{
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0.5;
    color:darkblue;
    font-size: 20px;
    text-align: right;
}

.btn {
    background-image:linear-gradient(lightskyblue, Aliceblue);border:2px
solid #888;color:#444;font-weight:600;font-family:'Work Sans',Arial,sans-serif;
    margin-top: 4px;
    width: 56px;
    height: 50px;
    font-size: 20px;
    
}

.zero{
    width: 116px;
}

.igual{
    position: absolute;
    height: 107px;
    left: +259px;
}

#op{
    position: absolute;
    z-index: 999;
    margin: 15 px 10x;
    font-weight: inherit;
    color: mediumblue;
}